SECRET_KEY=suara-rahasia-super-aman-12345
FLASK_APP=run.py
FLASK_ENV=development

# Koneksi XAMPP MySQL (PyMySQL)
# Format: mysql+pymysql://username:password@host:port/nama_database
SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:@localhost:3306/photobooth_db
SQLALCHEMY_TRACK_MODIFICATIONS=False